* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    cursor: default;

}

*::selection {
    color: #fff;
    background-color: #000;
}

body {
    width: 100%;
    height: 100%;
}

nav {
    height: 20vh;
    width: 100%;
    margin-bottom: 5vh;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 23px;
    color: #000;
}
 
nav .cart a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}
nav .cart i {
    font-size: 20px;
}

nav .cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4vw;
}

nav i {
    font-size: 2vh;
    transform: translate(50%, 7.5%);
}

main {
    background-color: #f7f7f7;
    width: 100%;
    padding: 0 4vw;
}

#page-1 {
    width: 100%;
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#page-1 h1 {
    font-size: 15.4vw;
    font-weight: 800;
    line-height: 12.5vw;
    letter-spacing: -9px;
}

.book {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.book img {
    height: 15.4vw;
    transform: translate(0, 12.5%);
}

.thecrs {
    display: flex;
    gap: 3vw;
}

#line {
    margin: 20vh 0 1.5vh 0;
    padding: 0 0 3vh 0;
    height: 3vh;
    width: 100%;
    border-bottom: 1.2px solid #979696;
    display: flex;
    justify-content: space-between;
}

#line h6 {
    font-size: 10px;
    font-weight: 500;
    z-index: 99;
    opacity: 0.8;
}

#vdo-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.play {
    cursor: default;
    z-index: 999;
    height: 15vh;
    width: 15vh;
    background-color: #000;
    color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    font-weight: 500;
    position: absolute;
    opacity: 0;
    scale: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page-1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
}


#page-2 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prod {
    width: 33%;
    height: 100%;
    padding: 0.2vh 2.2vw;
    position: relative;
    overflow: hidden;
}

#page-2 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    scale: 1.15;
}

#shop {
    height: 50px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.677);
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 22.5%;

}

#page-3 {
    width: 100%;
    min-height: 100vh;
    margin-top: 10vh;
    padding: 7vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    padding: 2vh 0 10vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.head p {
    font-size: 10px;
    margin-bottom: 2vh;
}

.space {
    width: 20vw;
}

#page-3 h1 {
    font-size: 3vw;
    font-weight: 800;
    letter-spacing: -2px;
}

#page-3 button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin-top: 2vh;
    padding: 0.2vh 0;
    font-size: 10px;
    font-weight: 700;
}

#page-3 button:hover {
    border-bottom: 1px solid grey;
}

#cir {
    z-index: -999;
    height: 80vh;
    width: 80vw;
    background-color: rgba(144, 31, 31, 0.782);
    border-radius: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.items {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#page-3 #item {
    height: 45%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}

#page-3 img {
    height: 80%;
    width: 80%;
}

#page-4 {
    width: 100%;
    min-height: 100vh;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-4 h1 {
    font-size: 8vh;
    font-weight: 900;
    line-height: 8vh;
}

#page-4 button {
    border: none;
    border-radius: 50px;
    height: 6vh;
    width: 15vw;
    margin: 10vh 0 6vh 0;
    background-color: #000;
    color: #fff;
    font-size: 0.55vw;
    letter-spacing: 3px;
    font-weight: 700;
}

#page-4 p {
    font-size: 0.7vw;
    font-weight: 500;
}

#page-5 {
    width: 100%;
    min-height: 100vh;
    padding: 2vh 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-5 .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.8vw;
}

#page-5 .right img {
    object-fit: cover;
    height: 97%;
    width: 42%;
}

#page-5 .left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 3.5vh;
}

#page-5 .left h1 {
    font-size: 3vh;
    font-weight: 800;
}

#page-5 .left p {
    font-size: 1.6vh;
    font-weight: 500;
    text-transform: capitalize;
}

#page-5 .left a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    letter-spacing: 0.14vw;
    font-size: 1.4vh;
    font-weight: 500;
}

#page-6 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#page-6 .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#page-6 .left h4 {
    opacity: 0.5;
    font-size: 1.5vh;
    letter-spacing: 0.1vw;
    font-weight: 700;
    margin-bottom: 2vh;
}

#page-6 .left a {
    text-decoration: none;
    color: #000;
    line-height: 2.8vh;
    letter-spacing: 0.08vw;
    text-transform: capitalize;
    font-size: 1.5vh;
    font-weight: 500;
}

#page-6 .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#page-6 .right h4 {
    opacity: 0.5;
    font-size: 1.5vh;
    letter-spacing: 0.1vw;
    font-weight: 700;
    margin-bottom: 2vh;
}

#page-6 .right a {
    text-decoration: none;
    color: #000;
    line-height: 2.8vh;
    letter-spacing: 0.08vw;
    text-transform: capitalize;
    font-size: 1.5vh;
    font-weight: 500;
}

.middle {
    height: 20vw;
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.middle i {
    font-size: 8vw;
}


footer {
    height: 15vh;
    width: 100%;
    background-image: #f7f7f7;
}


@media(max-width:600px) {
    nav {
        height: 15vh;
        width: 100%;
        margin-bottom: 5vh;
    }

    nav h1 {
        font-size: 15px;
        line-height: 15px;

    }

    nav .cart a {
        display: none;
    }

    nav i {
        font-size: 2vh;
        transform: translate(50%, 12.5%);
        margin-right: 5vw;
    }

    #page-1 {
        margin: 15vh 0;
        padding: 0 0 10vh 0;
    }

    #page-1 h1 {
        font-size: 16vw;
        line-height: 13vw;
        letter-spacing: -4.5px;
    }

    .book img {
        height: 15.4vw;
        transform: translate(0, 12.5%);
    }

    #line {
        margin: 10vh 0 1.5vh 0;
        height: 3vh;
        width: 100%;
        border-bottom: 2px solid #979696;
        display: flex;
        justify-content: space-between;
    }

    #vdo-container {
        height: fit-content;
        width: 100%;
        position: relative;
    }

    .play {
        display: none;
    }

    #page-1 video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 1;
    }

    #page-2 {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .prod {
        width: 100%;
        height: 100%;
        padding: 0.2vh 2.2vw;
        position: relative;
        overflow: hidden;
    }

    #page-2 img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        scale: 1.15;
    }

    #shop {
        height: 35px;
    }

    .head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .head p {
        font-size: 11px;
        margin-bottom: 2vh;
        font-weight: 500;
    }

    .space {
        display: none;
    }

    #page-3 h1 {
        font-size: 7.7vw;
        font-weight: 800;
        letter-spacing: -1px;
        line-height: 30px;
        margin-bottom: 3vh;
    }

    #page-3 button {
        font-size: 20px;
        font-weight: 700;
    }

    #page-3 button:hover {
        border-bottom: none;
    }

    #cir {
        display: none;
    }

    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #page-3 #item {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vh;
    }

    #page-3 img {
        height: 80%;
        width: 80%;
    }


    #page-4 {
        width: 100%;
        min-height: 100vh;
        padding: 5vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #page-4 h1 {
        font-size: 5vh;
        font-weight: 900;
        line-height: 4.8vh;
    }

    #page-4 button {
        height: 6vh;
        width: 50vw;
        font-size: 2.5vw;
        letter-spacing: 3px;
        font-weight: 500;
    }

    #page-4 p {
        font-size: 3.3vw;
        font-weight: 500;
    }
    #page-5 {
        width: 100%;
        min-height: 100vh;
        padding: 2vh 0 2vh 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: 2px solid grey;
    }
    
    #page-5 .right {
        padding: 5vh 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
    }
    
    #page-5 .right img {
        object-fit: cover;
        width: 95%;
    }
    
    #page-5 .left {
        gap: 1.3vh;
    }
    
    #page-5 .left h1 {
        font-size: 4vh;
        font-weight: 800;
    }
    
    #page-5 .left p {
        font-size: 1.7vh;
        font-weight: 500;
        text-transform: capitalize;
    }
    
    #page-5 .left a {
        letter-spacing: 0.14vw;
        font-size: 1.5vh;
        font-weight: 500;
    }
    
    #page-6 {
        width: 100%;
        min-height: 35vh;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 0 5vh 0;
    }
    
    #page-6 .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    footer {
        display: none;
    }
}